.first__section {
    margin-top: 4rem;
    &-hero {
        // background-color: red;
        padding: 1rem;
        width: 45ch;
        text-align: center;
        font-weight: normal;

        small {
            font-size: 0.9rem;
        }
    }

    &-left,&-right {
        width: 30ch;
        line-height: 1.3;
    }
}