.first__section {
    margin-top: 4rem;
    &-hero {
        // background-color: red;
        padding: 7rem 1rem;
        width: 45ch;
        text-align: center;
        font-weight: normal;

        small {
            font-size: 0.9rem;
        }

        .addnote {
            font-size: 0.7rem;
        }
    }

    .button {
        &__group {
            width: 100%;
            button {
                @include breakpoint-down(medium) {
                    padding: 1rem 0.7rem;
                    font-size: 0.6rem;
                    font-weight: 700;
                }
                &:hover,&:focus {
                    opacity: 0.8;
                }
            }
            button:first-of-type {
                // background-color: red;
                // border-radius-top-left: 2rem;
                border-top-left-radius: 0.4rem;
                border-bottom-left-radius: 0.4rem;
            }
            button:last-of-type {
                // background-color: red;
                border-top-right-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
            }
        }
    }

    &-left,&-right {
        width: 30ch;
        line-height: 1.3;
    }
}