.navbar {
    background-color: $warnadasar;
    color: $warnadasartulisan;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 9;

    &::after {
        content: "";
        background-color: $warnadasar;
        position: absolute;
        right: 0;
        bottom: -11.1875rem;
        width: 100%;
        height: 11.25rem;
        clip-path: polygon(100% 0, 0 0, 90% 45%);
        
        @include breakpoint-down(medium) {
            height: 6.25rem;
            bottom: -6.1875rem;
            clip-path: polygon(100% 0, 93% 22%, 15% 14%, 0 0);
        }
    }

    &__brand {
        justify-content: center;
        @extend %flex;
        align-items: center;
        gap: 0.4rem;
        text-transform: uppercase;
        &-senat {
            display: block;
            width: fit-content;
        }
        // &-univ {

        // }
    }

    &__container {
        width: 100%;
        max-width: 80em;
        margin: auto;
        align-items: center;
        height: 3.75rem;
        padding: 0 1.5rem;

        @extend %flex-sb;
    }
    &__middle {
        @extend %flex;
        gap: 1.125rem;
        // text-transform: uppercase;
        font-weight: 600;

        a.main__link {
            position: relative;
            text-decoration: none;
            padding: 1rem 0rem;
            z-index: 1;
        
            &::before {
                content: "";
                position: absolute;
                height: 0.1875rem;
                width: 0%;
                background-color: $warnadasartulisan;
                bottom: -1.3125rem;
                transition: 200ms ease-in-out;
            }

            &:hover, &:focus {
                &::before {
                    width: 100%;
                }

                + .navbar__sublinks {
                    display: block;
                }
            }
        }
    }

    &__mobile {
        @include breakpoint-up(large) {
            display: none;
        }

        transform: translateX(100%);

        &.open {
            visibility: visible;
            transform: translateY(0%)
        }

        .navbar__submenu {
            @extend %flex;
            justify-content: center;
            
            + .navbar__sublinks {
                display: none;
                background-color: #08091a;
                padding: 0.4rem;
                visibility: hidden;
                transform: translateY(-100%);
                text-align: center;
                .navbar__sublink {
                    padding: 0.4rem;
                }
            }
            
            &.open {
                + .navbar__sublinks.open {
                    transform: translateY(0%);
                    visibility: visible;
                }
            }
        }

        // pointer-events: none;
        visibility: hidden;

        position: fixed;
        width: 100%;
        height: 100%;
        background: $warnadasar;
        color: $warnadasartulisan;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .main__link {        
        @extend %flex;
        align-items: center;
    }

    &__link {
        position: relative;
        cursor: pointer;
        align-self: center;
        padding: 0.5rem 0;

        .more__link {
            font-size: 0.7rem;
        }

        &:hover {
            .navbar__sublinks {
                display: block;
            }
        }

    }

    .navbar__sublinks {
        position: absolute;
        right: 0;
        z-index: 9;
        margin-top: 0.7rem;
        width: 15rem;
        display: none;
        
        &-container {
            position: relative;
            border-radius: 0.2rem;
            background-color: #0e104b;
            // background-color: #fff;
            padding: 1rem;
            &::after {
                content: "";
                position: absolute;
                border: 0.7rem solid transparent;
                border-bottom-color: #0e104b;
                right: 0.2rem;
                top: -1.39rem;
            }
        }

        .navbar__sublink {
            padding: 0.5rem;
            text-align: right;
            a.normal {
                position: relative;
                text-decoration: none;

                &:hover,&:focus {
                    opacity: 0.7;
                }
            }
        }
    }

    &__more {
        cursor: pointer;
        height: 1.5625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            position: relative;
            display: block;
            width: 1.5625rem;
            height: 0.125rem;
            background-color: $warnadasartulisan;

            &:not(:last-of-type) {
                margin-bottom: 0.3375rem;
            }
            // &::after {
            //     content: "";
            //     position: absolute;
            //     width: 1.5625rem;
            //     height: 0.125rem;
            //     background-color: $warnadasartulisan;
            //     margin-top: 0.4375rem;
            // }
            // &::before {
            //     content: "";
            //     position: absolute;
            //     width: 1.5625rem;
            //     height: 0.125rem;
            //     background-color: $warnadasartulisan;
            //     margin-top: -0.4375rem;
            // }

        }
        
        &.open, &.navbar__tutup {
            span {
                &:first-of-type {
                    transform: rotateZ(45deg);
                    transform-origin: top left;
                    margin-left: 5px;
                }
                &:nth-of-type(2) {
                    opacity: 0;
                    margin-right: -20px;
                }
                &:last-of-type {
                    transform: rotateZ(-45deg);
                    transform-origin: bottom left;
                    margin-left: 5px;
                    margin-top: 2px;
                }
            }
        }
    }
    // @extend %dev;
}