.navbar {
    background-color: $warnadasar;
    color: $warnadasartulisan;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 9;

    &::after {
        content: "";
        background-color: $warnadasar;
        position: absolute;
        right: 0;
        bottom: -11.1875rem;
        width: 100%;
        height: 11.25rem;
        clip-path: polygon(100% 0, 0 0, 90% 45%);
        
        @include breakpoint-down(medium) {
            height: 6.25rem;
            bottom: -6.1875rem;
            clip-path: polygon(100% 0, 93% 22%, 15% 14%, 0 0);
        }
    }
    &__brand {
        justify-content: center;
        @extend %flex;
        align-items: center;
        gap: 0.4rem;
        text-transform: uppercase;
        &-senat {
            display: block;
            width: fit-content;
        }
        // &-univ {

        // }
    }
    &__container {
        width: 100%;
        max-width: 80em;
        margin: auto;
        align-items: center;
        height: 3.75rem;
        padding: 0 1.5rem;

        @extend %flex-sb;
    }
    &__middle {
        @extend %flex;
        gap: 1.125rem;
        // text-transform: uppercase;
        font-weight: 600;

        a {
            position: relative;
            text-decoration: none;
        
            &::before {
                content: "";
                position: absolute;
                height: 0.1875rem;
                width: 0%;
                background-color: $warnadasartulisan;
                bottom: -1.3125rem;
                transition: 200ms ease-in-out;
            }
        
            &:hover,&:focus {
                &::before {
                    width: 100%;
                }
            }
        }
    }

    &__more {
        span {
            position: relative;
            display: block;
            width: 1.5625rem;
            height: 0.125rem;
            background-color: $warnadasartulisan;
            &::after {
                content: "";
                position: absolute;
                width: 1.5625rem;
                height: 0.125rem;
                background-color: $warnadasartulisan;
                margin-top: 0.4375rem;
            }
            &::before {
                content: "";
                position: absolute;
                width: 1.5625rem;
                height: 0.125rem;
                background-color: $warnadasartulisan;
                margin-top: -0.4375rem;
            }
        }
    }
    // @extend %dev;
}