// // Variable SCSS
// $warna: #0a0b36;


// Variable CSS -> Variable SCSS
$warnadasartua: var(--warnadasartua);
$warnadasar: var(--warnadasar);
$warnadasarmuda: var(--warnadasarmuda);
$warnadasartulisan: var(--warnadasartulisan);

:root {
    // --warnadasar: #0a0b36;
    --warnadasartua: #001935;
    --warnadasar: #001B3A;
    --warnadasarmuda: #002c5e;
    --warnadasartulisan: #e7e7e7;



    // warna fakultas
    --fakultasteologi: #fff;
    --fakultasilmukomputer: #fff;
    --fakultasilmusosialdanpolitik: #fff;
    --fakultasekonomi: #fff;
    --fakultaskesehatan: #fff;
    --fakultasteknik: #fff;

    --prodihukum: #fff;
}