@font-face {
  font-family: Ubuntu Mono;
  src: url(../fonts/UbuntuMono-R.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
:root {
  --warnadasartua: #001935;
  --warnadasar: #001B3A;
  --warnadasarmuda: #002c5e;
  --warnadasartulisan: #e7e7e7;
  --fakultasteologi: #fff;
  --fakultasilmukomputer: #fff;
  --fakultasilmusosialdanpolitik: #fff;
  --fakultasekonomi: #fff;
  --fakultaskesehatan: #fff;
  --fakultasteknik: #fff;
  --prodihukum: #fff;
}

.mentor__section-img, .first__section .qoute, .first__section .section__container, .first__section, .navbar .main__link, .navbar__mobile .navbar__submenu, .navbar__middle, .navbar__brand, .landingpage, [class$=__section] {
  display: flex;
}
.footer__container, .second__section-daftarpengurus, .navbar__container, .section__container {
  display: flex;
  justify-content: space-between;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 300ms ease-in-out;
}

body {
  background-color: var(--warnadasartulisan);
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}
body.menuOpen {
  overflow-y: auto;
}
@media screen and (max-width: 63.9375em) {
  body.menuOpen {
    overflow-y: hidden;
  }
}

button, .button {
  border: none;
  cursor: pointer;
  color: var(--warnadasartulisan);
  padding: 1rem 1.7rem;
  text-transform: uppercase;
  background-color: var(--warnadasar);
}

a, a:focus, a:active, a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.section__container {
  max-width: 70em;
  padding: 2rem;
  margin: auto;
  justify-content: center;
}

.grid {
  display: grid;
}
.grid__2col {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media screen and (max-width: 63.9375em) {
  .grid__2col {
    grid-template-columns: 1fr;
  }
}

.desc {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
  width: 45ch;
}
@media screen and (max-width: 63.9375em) {
  .desc {
    width: 100%;
    padding: 0 1rem;
  }
}

[class*=hero] {
  color: var(--warnadasarmuda);
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.5rem 0;
  max-width: 45ch;
  text-align: center;
}
@media screen and (max-width: 87.4375em) {
  [class*=hero] {
    font-size: 1.5rem;
  }
}

[class$=__section] {
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes typeanimated {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typeanimated {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pemberitahuan__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  right: 1rem;
  bottom: 1rem;
  z-index: 21;
}
.pemberitahuan__card {
  position: relative;
  max-width: 450px;
  min-width: 200px;
  background-color: ivory;
  margin-top: 0.5rem;
  padding: 0.7rem;
  padding-right: 3.2rem;
}
.pemberitahuan__card-red {
  background-color: red;
  color: #fff;
}
.pemberitahuan__card-red .pemberitahuan__card-keluar {
  background-color: #c50000;
}
.pemberitahuan__card-green {
  background-color: green;
  color: #fff;
}
.pemberitahuan__card-green .pemberitahuan__card-keluar {
  background-color: #00af00;
}
.pemberitahuan__card-keluar {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #cecece;
  width: 2.5rem;
  height: 100%;
}

.landingpage {
  background-color: var(--warnadasar);
  background-image: linear-gradient(to bottom, transparent, var(--warnadasar)), url("https://2.bp.blogspot.com/-XaoYpW6anTc/Vxh0HJClECI/AAAAAAAACcc/dR2bbG3uES0mL_rax-KxYU5q4vYHdx3NQCLcB/s1600/12479447_1550766128575419_1543490671_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--warnadasartulisan);
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 2rem;
}
@media screen and (min-width: 64em) {
  .landingpage {
    background-position: bottom center;
  }
}
.landingpage__univ {
  font-weight: 600;
}
.landingpage__header {
  font-size: 3rem;
  font-weight: 700;
}
@media screen and (max-width: 63.9375em) {
  .landingpage__header {
    font-size: 1.7rem;
  }
}
.landingpage__event {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.5rem;
  line-height: 1.5;
}
.landingpage__event strong {
  background-color: red;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

.navbar {
  background-color: var(--warnadasar);
  color: var(--warnadasartulisan);
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}
.navbar::after {
  content: "";
  background-color: var(--warnadasar);
  position: absolute;
  right: 0;
  bottom: -11.1875rem;
  width: 100%;
  height: 11.25rem;
  -webkit-clip-path: polygon(100% 0, 0 0, 90% 45%);
          clip-path: polygon(100% 0, 0 0, 90% 45%);
}
@media screen and (max-width: 63.9375em) {
  .navbar::after {
    height: 6.25rem;
    bottom: -6.1875rem;
    -webkit-clip-path: polygon(100% 0, 93% 22%, 15% 14%, 0 0);
            clip-path: polygon(100% 0, 93% 22%, 15% 14%, 0 0);
  }
}
.navbar__brand {
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  text-transform: uppercase;
}
.navbar__brand-senat {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar__container {
  width: 100%;
  max-width: 80em;
  margin: auto;
  align-items: center;
  height: 3.75rem;
  padding: 0 1.5rem;
}
.navbar__middle {
  gap: 1.125rem;
  font-weight: 600;
}
.navbar__middle a.main__link {
  position: relative;
  text-decoration: none;
  padding: 1rem 0rem;
  z-index: 1;
}
.navbar__middle a.main__link::before {
  content: "";
  position: absolute;
  height: 0.1875rem;
  width: 0%;
  background-color: var(--warnadasartulisan);
  bottom: -1.3125rem;
  transition: 200ms ease-in-out;
}
.navbar__middle a.main__link:hover::before, .navbar__middle a.main__link:focus::before {
  width: 100%;
}
.navbar__middle a.main__link:hover + .navbar__sublinks, .navbar__middle a.main__link:focus + .navbar__sublinks {
  display: block;
}
.navbar__mobile {
  overflow-y: auto;
  transform: translateX(100%);
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--warnadasar);
  color: var(--warnadasartulisan);
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 64em) {
  .navbar__mobile {
    display: none;
  }
}
.navbar__mobile.open {
  visibility: visible;
  transform: translateY(0%);
}
.navbar__mobile .navbar__link {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: var(--warnadasar);
  z-index: 9;
}
.navbar__mobile .navbar__submenu {
  justify-content: center;
}
.navbar__mobile .navbar__submenu + .navbar__sublinks {
  display: none;
  background-color: var(--warnadasarmuda);
  width: 100%;
  height: 0%;
  overflow: hidden;
  padding: 0.4rem;
  visibility: hidden;
  transform: translateY(-100%);
  text-align: center;
}
.navbar__mobile .navbar__submenu + .navbar__sublinks .navbar__sublink {
  padding: 1rem;
}
.navbar__mobile .navbar__submenu.open {
  background-color: var(--warnadasartua);
}
.navbar__mobile .navbar__submenu.open + .navbar__sublinks.open {
  transform: translateY(0%);
  width: 100%;
  visibility: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.navbar .main__link {
  align-items: center;
}
.navbar__link {
  position: relative;
  cursor: pointer;
  align-self: center;
  padding: 0.5rem 0;
}
.navbar__link .more__link {
  font-size: 0.7rem;
}
.navbar__link:hover .navbar__sublinks {
  display: block;
}
.navbar__link.open .more__link {
  display: inline-block;
  transform: rotate(180deg);
}
.navbar .navbar__sublinks {
  position: absolute;
  right: 0;
  z-index: 9;
  margin-top: 0.7rem;
  width: 15rem;
  display: none;
}
.navbar .navbar__sublinks-container {
  position: relative;
  border-radius: 0.2rem;
  background-color: #0e104b;
  padding: 1rem;
}
.navbar .navbar__sublinks-container::after {
  content: "";
  position: absolute;
  border: 0.7rem solid transparent;
  border-bottom-color: #0e104b;
  right: 0.2rem;
  top: -1.39rem;
}
.navbar .navbar__sublinks .navbar__sublink {
  padding: 0.5rem;
  text-align: right;
}
.navbar .navbar__sublinks .navbar__sublink a.normal {
  position: relative;
  text-decoration: none;
}
.navbar .navbar__sublinks .navbar__sublink a.normal:hover, .navbar .navbar__sublinks .navbar__sublink a.normal:focus {
  opacity: 0.7;
}
.navbar__more {
  cursor: pointer;
  height: 1.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar__more span {
  position: relative;
  display: block;
  width: 1.5625rem;
  height: 0.125rem;
  background-color: var(--warnadasartulisan);
}
.navbar__more span:not(:last-of-type) {
  margin-bottom: 0.3375rem;
}
.navbar__more.navbar__tutup {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.navbar__more.open span:first-of-type, .navbar__more.navbar__tutup span:first-of-type {
  transform: rotateZ(45deg);
  transform-origin: top left;
  margin-left: 0.3125rem;
}
.navbar__more.open span:nth-of-type(2), .navbar__more.navbar__tutup span:nth-of-type(2) {
  opacity: 0;
  margin-right: -1.25rem;
}
.navbar__more.open span:last-of-type, .navbar__more.navbar__tutup span:last-of-type {
  transform: rotateZ(-45deg);
  transform-origin: bottom left;
  margin-left: 0.3125rem;
  margin-top: 0.125rem;
}

.first__section {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.first__section.smaller {
  min-height: 50vh;
}
.first__section .section__container {
  flex-direction: column;
}
.first__section .qoute {
  flex-direction: column;
  text-align: center;
  max-width: 45ch;
  align-items: center;
  gap: 0.7rem;
}
.first__section .qoute * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.first__section .qoute__message {
  font-size: 1.4rem;
  line-height: 1.6;
}
@media screen and (max-width: 87.4375em) {
  .first__section .qoute__message {
    font-size: 1rem;
  }
}
.first__section .qoute__author {
  font-size: 0.87rem;
}
.first__section .qoute__addnote {
  font-size: 0.7rem;
}
.first__section .button__group {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 0.1rem;
}
@media screen and (max-width: 63.9375em) {
  .first__section .button__group button, .first__section .button__group .button {
    padding: 1rem 0.7rem;
    font-size: 0.6rem;
    font-weight: 700;
  }
}
.first__section .button__group button:hover, .first__section .button__group button:focus, .first__section .button__group .button:hover, .first__section .button__group .button:focus {
  opacity: 0.8;
}
.first__section .button__group button:first-of-type, .first__section .button__group .button:first-of-type {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.first__section .button__group button:last-of-type, .first__section .button__group .button:last-of-type {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.first__section .button__group button:hover, .first__section .button__group .button:hover, .first__section .button__group button:focus, .first__section .button__group .button:focus {
  color: var(--warnadasartulisan);
}
.first__section-left, .first__section-right {
  width: 30ch;
  line-height: 1.3;
}

.laporan__section {
  background-color: orange;
  min-height: 20vh;
  padding: 2rem 0;
}
.laporan__section-desc {
  max-width: 45ch;
  padding: 0 0 1rem 0;
  text-align: center;
}
.laporan__section-form {
  padding: 2rem;
}
.laporan__section-input {
  border: none;
  width: 100%;
  padding: 2rem;
  font-family: inherit;
  line-height: 1.5;
  min-height: 2rem;
}
.laporan__section-hero {
  display: block;
  padding-bottom: 0.7rem;
  max-width: 45ch;
  text-align: center;
}
.laporan__section-jenis {
  background-color: #e4e4e4;
  padding: 0.7rem;
  border: none;
}
.laporan__section .button__group .button:not(:first-of-type) {
  margin-left: -0.3rem;
}
.laporan__section .button__input {
  margin-top: -0.3rem;
}

.mentor__section {
  background-color: var(--warnadasar);
  color: var(--warnadasartulisan);
  position: relative;
  margin-bottom: 5rem;
}
.mentor__section .section__container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: unset;
}
@media screen and (max-width: 63.9375em) {
  .mentor__section .grid {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 63.9375em) {
  .mentor__section .grid.mentor__section-mentor {
    grid-template-areas: "gambar gambar" "text text";
  }
}
.mentor__section .grid__2col-image-left {
  grid-template-areas: "gambar text";
}
.mentor__section .grid__2col-image-right {
  grid-template-areas: "text gambar";
}
.mentor__section .grid__2col-image-right .mentor__section-left {
  justify-self: right;
  text-align: right;
}
@media screen and (max-width: 63.9375em) {
  .mentor__section .grid__2col-image-right .mentor__section-left {
    justify-self: left;
    text-align: left;
  }
}
.mentor__section-img {
  grid-area: gambar;
  background-color: red;
  justify-content: center;
}
.mentor__section-img img {
  max-width: 400px;
}
.mentor__section-text {
  grid-area: text;
  padding: 0 2rem;
  width: 100%;
  max-width: 40ch;
}
@media screen and (max-width: 63.9375em) {
  .mentor__section-text {
    padding-top: 5rem;
  }
}
.mentor__section-header {
  text-align: center;
  padding: 7rem 0 0 0;
}
.mentor__section-mentor img {
  width: 100%;
}
.mentor__section-nama {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.7rem 0;
}
.mentor__section-jabatan {
  font-style: oblique;
  font-weight: 600;
  padding-bottom: 0.7rem;
}
.mentor__section-tambahan {
  max-width: 40ch;
}
@media screen and (max-width: 63.9375em) {
  .mentor__section-tambahan {
    width: 100%;
  }
}

.second__section-hero {
  padding: 1rem;
  text-align: center;
  font-weight: normal;
}
.second__section-daftarpengurus {
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.second__section-daftarpengurus .pengurus {
  background: var(--warnadasar);
  width: 15.625rem;
}
.second__section-daftarpengurus .pengurus img {
  width: 100%;
}
.second__section-daftarpengurus .pengurus .pengurus-info {
  background-image: linear-gradient(to bottom, transparent, black);
  padding: 1rem;
  color: var(--warnadasartulisan);
}
.second__section-daftarpengurus .pengurus .pengurus-info .pengurus-nama {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.second__section-daftarpengurus .pengurus .pengurus-info .pengurus-jurusan {
  margin-bottom: 0.2rem;
}
.second__section-daftarpengurus .pengurus .pengurus-info .pengurus-jurusan .pengurus-fakultas {
  font-weight: 500;
}
.second__section-daftarpengurus .pengurus .pengurus-info .pengurus-bidang {
  display: inline-block;
  background-color: red;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

.footer {
  position: relative;
  background-color: var(--warnadasar);
  color: var(--warnadasartulisan);
  width: 100%;
  font-size: 0.9rem;
  margin-top: 8em;
}
.footer::after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: -9.9375rem;
  width: 100%;
  left: 0;
  height: 10rem;
  -webkit-clip-path: polygon(7% 81%, 84% 90%, 100% 100%, 0% 100%);
          clip-path: polygon(7% 81%, 84% 90%, 100% 100%, 0% 100%);
}
.footer__link {
  margin-bottom: 0.5rem;
}
.footer h4 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer__grid {
  display: grid;
  max-width: 90em;
  margin: auto;
  grid-template-columns: 20em 1fr;
  padding: 2rem;
  padding-top: 3rem;
}
@media screen and (max-width: 63.9375em) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
}
.footer__grid img {
  width: 100%;
}
.footer__copyright {
  background-color: #141414;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}
.footer__copyright p {
  border: 0.0625rem solid #9c9c9c;
  color: #9c9c9c;
  display: block;
  padding: 0.5rem;
  margin: 0.2rem auto 0 auto;
  max-width: 37.5rem;
}
.footer__container {
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__container a {
  position: relative;
  text-decoration: none;
}
.footer__container a::before {
  content: "";
  position: absolute;
  height: 0.1875rem;
  width: 0%;
  background-color: var(--warnadasartulisan);
  bottom: -0.2rem;
  transition: 200ms ease-in-out;
}
.footer__container a:hover::before, .footer__container a:focus::before {
  width: 75%;
}
.footer__support-imagegroup {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}
.footer__support-imagegroup img {
  width: 4.375rem;
}
.footer__section {
  max-width: 35ch;
  padding: 1rem;
}
.footer__section h2 {
  margin-bottom: 1.25rem;
}
.footer__section p {
  line-height: 1.5;
}

@media screen and (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */